<!DOCTYPE html>
<!DOCTYPE html>
{% extends "base.html" %} {% block home %}
<div class="home-con">
  <div id="home-con-con">
    <div class="page-title-con">
      <div class="page-title">
        <h1>events.</h1>
      </div>
    </div>
    <div class="hrs">
      <hr />
    </div>
  </div>
</div>
{% endblock %} {% block body %}

<div class="years box99">
  {% for yea in yeas %}
  <div class="year-txt">
    <a href="{% url 'event' yea %}"><h3>{{ yea }} - {{ yea|add:2 }}</h3></a>
  </div>
  {% endfor %}
</div>

<div class="break-box1-con">
  <div class="break-side"></div>
  <div class="break-box1">
    <span>{{requested_year}} - {{ requested_year|add:2 }}</span>
  </div>
  <div class="break-side"></div>
</div>
<div class="post box99">
  {% for event, images in event_data %}
  <div class="box97 box-light">
    <div class="img-con">
      {% for image in images %}
      <img src="{{ image.image.url }}" />
      {% endfor %}
    </div>
    <div class="post-txt">
      <h1>{{ event.title }}</h1>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %} {% comment %}
<html lang="en">
  <head>
    {% load static %} {% include "head.html" %}
    <title>Document</title>
  </head>
  <body>
    <div class="back-col">
      <div id="navi">
        <div id="nav_side">
          <div id="nav_logo" class="icons-con">
            <a href="" class="logo">Ubook.</a>
          </div>
          <ul class="ul">
            <li><a href="login.html">home</a></li>
            <li><a href="login.html">years</a></li>
            <li><a href="">recent event</a></li>
            <li><a href="">contact us</a></li>
          </ul>
          <div class="icons-con" id="icons-con">
            <i class="zmdi zmdi-search"></i>
          </div>
          <div class="menu"><i class="fa-solid fa-ellipsis"></i></div>
        </div>
      </div>
      <div id="home">
        <div class="home-con">
          <div id="home-con-con">
            <div class="page-title-con">
              <div class="page-title">
                <h1>event-page.</h1>
              </div>
            </div>
            <div class="hrs">
              <hr />
            </div>
          </div>
        </div>
      </div>

      <div class="years box99">
        {% for yea in yeas %}
        <div class="year-txt">
          <a href="{% url 'event' yea %}"
            ><h1>{{ yea }} - {{ yea|add:2 }}</h1></a
          >
        </div>
        {% endfor %}
      </div>

      <div class="break-box1-con">
        <div class="break-side"></div>
        <div class="break-box1">
          <span>{{requested_year}} - {{ requested_year|add:2 }}</span>
        </div>
        <div class="break-side"></div>
      </div>
      <div class="post box99">
        {% for event, images in event_data %}
        <div class="box97 box-light">
          <div class="img-con">
            {% for image in images %}
            <img src="{{ image.image.url }}" />
            {% endfor %}
          </div>
          <div class="post-txt">
            {{ event.title }}
            <p>{{ event.description }} <b>event</b></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="css/main.js"></script>
  </body>
</html>
{% endcomment %}
