{% load static %} {% static "pic" as img_path %} {% comment %}
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>
{% endcomment %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static './css/material-design-iconic-font.min.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
/>
<link rel="stylesheet" type="text/css" href="{% static 'css/one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/anime.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/animation.css' %}"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

{% comment %}
<script src="https://wow.min.js"></script>
<link rel="stylesheet" href="css/material-design-iconic-font.css" />
<link rel="stylesheet" href="css/material-design-iconic-font.min.css" />
<link rel="stylesheet" href="css/yb-base.css" />
<link rel="stylesheet" href="css/anime.css" />
<link rel="stylesheet" href="css/animation.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/year-con.css" />
<link rel="stylesheet" href="css/post.css" />
{% endcomment %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=, initial-scale=1.0" />
