<!DOCTYPE html>
<html lang="en"> 
  <head>
    <head>
      {% load static %}
      {% include "head.html" %}
  </head>
  <body>
    <div class="back-im">
      <div id="nav">
        <div id="nav_side">
          <div id="nav_logo" class="icons-con">
            <a href="" class="logo">Ubook.</a>
          </div>
          <ul class="ul">
            <li><a href="{% url 'year'  user.student.year_of_admission  %}">years</a></li>
            <li><a href="event.html">recent event</a></li>
            <li><a href="{% url 'about_us' %}">contact us</a></li>
            <!-- <li><a href="search.html">search</a></li> -->
          </ul>
          <div class="icons-con" id="icons-con">
            {% comment %} <i class="zmdi zmdi-search"></i> {% endcomment %}
            <a href="{% url 'logout' %}"><p class='color-white'>Logout</p></a>
          </div>
          <div class="menu"><i class="fa-solid fa-ellipsis"></i></div>
        </div>
      </div>
      <div id="home-con">
        <div id="left-home" class="home">
          <div class="user-con">
            {% comment %} <div class="user-im box-dark"></div> {% endcomment %}
            <img class='user-im box-dark' src="{% if user.student.profile_picture %}{{ user.student.profile_picture.url }}{% else %}{% static 'default.jpg' %}{% endif %}" >
            <div class="user-nam">{{ user.username }}</div>
          </div>
        </div>
        <div id="right-home" class="home"></div>
      </div>
      <div class="color-light">

          <div class="break-box1-con">
            <div class="break-side"></div>
            <div class="break-box1">
              <span>{{user.student.year_of_admission}} class</span>
            </div>
            <div class="break-side"></div>
          </div>

        <div class="post box99">
          {% for student in students %}
          <div class="user-co">
            <div ><img src="{{ student.profile_picture.url }}" alt="Profile picture" class="user-im box-dark"></div>
            <div class="user-nam">{{ student.first_name }} {{ student.last_name }}</div>
          </div>
    {% endfor %}
        </div>

      
          <div class="break-box1-con">
            <div class="break-side"></div>
            <div class="break-box1">
              <span>{{user.student.year_of_admission}} events</span>
            </div>
            <div class="break-side"></div>
          </div>

      <div class="post box99">
        {% for event, images in event_data %}
          <div class="box97 box-light">
              <div class="img-con">
                  {% for image in images %}
                      <img src="{{ image.image.url }}" />
                  {% endfor %}
              </div>
              <div class="post-txt">{{ event.title }}
                  <p>{{ event.description }} <b>event</b></p>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>


    {% include "footer.html" %}
    <script src="{% static "css/main.js" %}"></script>
  </body>
</html>
