
<!DOCTYPE html>
{% load crispy_forms_tags %} 
<html lang="en">
  <head>
    {% load static %} {% include "head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/post.css' %}"
/>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" method="POST" action="{% url 'profile' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            <span class="login100-form-title p-b-26"> PROFILE. </span>
            <span class="error">
              {% if errors %}
              <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </span>
            {{s_form|crispy}}
            
            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit">SAVE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static "css/main.js" %}"></script>
  </body>
</html>
