<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% include "head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" method="post">
            {% csrf_token %}
            <span class="login100-form-title p-b-26"> Ubook. </span>

            <div class="wrap-input100 validate-input">
              <input
                class="input100 inputpass"
                type="text"
                name="username"
                id="username"
              />
              <span class="focus-input100" data-placeholder="Username"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is: a@b.c"
            >
              <input
                class="input100 inputpass"
                type="text"
                name="email"
                id="email"
              />
              <span class="focus-input100" data-placeholder="Email"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
            >
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input class="input100 passin" type="password" name="password1"
              id="password1" />
               <span
                class="focus-input100"
                data-placeholder="Password"
              ></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
            >
              <span class="btn-show-pass btn-show-pass1">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input
                class="input100 passin1"
                type="password"
                name="password2"
                id="password2"
              />
              <span
                class="focus-input100"
                data-placeholder="Confirm Password"
              ></span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit">Sign up</button>
              </div>
            </div>
            <div class="text-center p-t-115">
              <span class="txt1"> have an account? </span>
              <a class="txt2" href="{% url 'login' %}"> login </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static "css/main.js" %}"></script>
  </body>
</html>
