<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      {% load static %}
      {% include "head.html" %}
  </head>
  <body>
    <div>
      <div id="navi">
        <div id="nav_side">
          <div id="nav_logo" class="icons-con">
            <a href="" class="logo">Ubook.</a>
          </div>
          <ul class="ul">
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="#">recent event</a></li></li>
            <li><a href="{% url 'home' %}">contact us</a></li>
          </ul>
          <div class="icons-con" id="icons-con">
            <i class="zmdi zmdi-search"></i>
          </div>
          <div class="menu"><i class="fa-solid fa-ellipsis"></i></div>
        </div>
      </div>
      <div id="home">
        <div class="home-con">
          <div id="home-con-con">
            <div class="page-title-con">
              <div class="page-title">
                <h1>year <span>.</span></h1>
              </div>
            </div>
            <div class="hrs">
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="years box99">
      {% for yea in yeas %}
      <div class="year-txt">
        <a href="{% url 'year' yea %}"><h1> {{ yea }} </h1></a>
      </div>
      {% endfor %}
    </div>
    <div class="break-box1-con">
      <div class="break-side"></div>
      <div class="break-box1">
        <span>{{requested_year}}</span>
      </div>
      <div class="break-side"></div>
    </div>
    <div class="post box99">
    {% for student in students %}
          <div class="user-co">
            <div ><img src="{{ student.profile_picture.url }}" alt="Profile picture" class="user-im box-dark"></div>
            <div class="user-nam">{{ student.first_name }} {{ student.last_name }}</div>
          </div>
        
    {% endfor %}
  </div>
    {% comment %} <h1>Students Admitted in {{ requested_year }}</h1>
    <ul>
      {% for student in students %}
        <li>
          {{ student.first_name }} {{ student.last_name }} (Admitted: {{ student.year_of_admission }})
          {% if student.profile_picture %}
            <img src="{{ student.profile_picture.url }}" alt="Profile picture" width="100" height="100">
          {% endif %}
        </li>
      {% endfor %}
    </ul> {% endcomment %}

    <script src="{% static "css/main.js" %}"></script>
  </body>
</html>
