<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      {% load static %}
      {% include "head.html" %}
  </head>
  <body>
    <div>
      <div id="navi">
        <div id="nav_side">
          <div id="nav_logo" class="icons-con">
            <a href="" class="logo">Ubook.</a>
          </div>
          <ul class="ul">
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'year' %}">recent event</a></li></li>
            <li><a href="{% url 'home' %}">contact us</a></li>
          </ul>
          <div class="icons-con" id="icons-con">
            <i class="zmdi zmdi-search"></i>
          </div>
          <div class="menu"><i class="fa-solid fa-ellipsis"></i></div>
        </div>
      </div>
      <div id="home">
        <div class="home-con">
          <div id="home-con-con">
            <div class="page-title-con">
              <div class="page-title">
                <h1>year <span>.</span></h1>
              </div>
            </div>
            <div class="hrs">
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="years box99">
      <div class="year-txt">
        <h1>2017-2019</h1>
      </div>
      <div class="year-txt">
        <h1>2018-2020</h1>
      </div>
      <div class="year-txt">
        <h1>2019-2021</h1>
      </div>
    </div>

    <div class="break-box br"><span>2017-2019 class</span></div>
    <div class="post box99">
      <div class="user-co">
        <div class="user-im box-dark"></div>
        <div class="user-nam">AWHIE ORUNOR</div>
      </div>
    </div>

    <script src="{% static "css/main.js" %}"></script>
  </body>
</html>
