form .form-group {
  padding: 10px;
}
.textinput {
  border-bottom: 0.5px solid black;
  border-bottom-right-radius: 10px;
  width: 100%;
}
.numberinput {
  border: 0.5px dotted black;
  width: 100%;
}
label {
  text-transform: uppercase;
}
input {
  height: 30px;
}
